@import './vars';
.table-rose {
    --bs-table-color: #fff;
    --bs-table-bg: #523e27;
    --bs-table-border-color: #373b3e;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: $white;
    border-color:$color-secundary;
}

table{
    thead{
        th{
            text-align: center;
        }
    }
    tbody{
        tr{
            cursor: pointer;
            text-align: center;
        }
    }
}