@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

$color-primary:#ce6857;
$color-secundary:#e8cfc1;
$color-font-primary:#523e27;
$white:#fff;
$bg-body: hwb(22deg 96% 0%) ;
$bg-carouser-caption:linear-gradient(90deg, rgba(232, 207, 193, 0.769) 100%, rgba(175, 175, 175, 0) 100%, rgb(108, 104, 240) 7041%);


// font-families 
$comic : 'Comic Neue', cursive;