
@use './loadingSkeletonsTable';
@use './containerDataReceipts';
@use './navbar';
@use './table';
@use './accordion';
@use './detailReceipt';
@use './form';
@use './buttoms';
@import './vars';

.nav-link{
    line-height: 54px;
}
body {
    background-color:     $bg-body;
    font-family:$comic ;
}

// input file
#formFileSm{
    display: none;
}
//rowss
.row p{
    margin-bottom: 3px;
}


.cardTypeReceipt {
    img{
        height: 230px;
        
    }
}

// carousel
.carouselContainer{
   img{
    height: 80vh;
    border-radius: 10px;
   }
    .carousel-caption {
    background: $bg-carouser-caption;
    color: $color-font-primary;
    font-size: 1.2rem;
    border-radius: 10px;
    h3 {
        color: $color-primary;
        font-weight: 800;
    }
}
   .carousel-control-next-icon, .carousel-control-prev-icon{
    display: none;
   }
   
}
